#title {
    font-size: 25px;
}
.modal-content {
    width: 80vw;
}
button.btn.btn-danger {
    padding-left: 20px;
    position: center;
    border: solid rgb(93, 112, 251);
    border-radius:7px;
}
