.App {
  background-image: url("../wheat.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.fork_logo {
  margin: auto;
  width: 50%;
  padding: 2px;
  opacity: .6;
  margin-left: auto;
  margin-right: auto;
  display: block;
  padding: -2px;
}

.modal-title {
  color: white;
}
.modal-header {
  background-color: #c6a530;
  image-rendering:  '../forkcircle.png'
}
.modal-content {
  background-image:  url("../marble.jpeg");
  background-size: 180%;
  background-repeat: no-repeat;
    color: black;
    font-weight: 800;
    border: solid #c6a530 3px;
    align-content: center;
}

.lowerButtons {
  display: flex;
  justify-content: center;
  align-self: baseline;
  /* margin: -10px; */
  padding: -10px;
}
p2{
  align-items: center;
}

.usernameText{
  color:black;
}
Input#usernameInput {
  opacity: .6;
}
input#passwordInput {
  opacity: .6;
}
input#password2Input {
  opacity: .6;
}
h {
  color: white
}
b{
  color:black;
}
p {
 color: black;
}


input {
  opacity: .6;
}

.carousel-inner {
  display: flex;
  justify-content: center;
  border: solid black;
  border-width: 3px;
  border-spacing: 0px;
}
.carousel-inner:hover {
  cursor: pointer;
}
.CarouselCaption {
  color: black;
  font-size: 300px;
  text-align: center;
}

.routes:hover {
  color: red;
}
.routes:active {
  color: red;
}

h#title {
  background-color: rgb(93, 112, 251);
}

.copyright {
  font-size: 8pt;
  width: fit-content;
  height: fit-content;
  margin: -25px;
  opacity: .6;
  margin-left: auto;
  margin-right: auto;
  display: block;
  background-color: floralwhite;

}

.carousel-item.active, .carousel-item-next, .carousel-item-prev{
  display:flex !important;
  justify-content: center !important;
}