.menuButtons {
background-color: #c6a530;
}

.buttons {
    display: flex;
    justify-content: center;
    
    border-radius: 3px;
    position: relative;
    flex-direction: row-reverse;
}

body {
    display: flex;
    justify-content: center;
}

button.closeButton {
    display: flex;
    /* flex-direction: row-reverse; */
    justify-content: flex-end;
    
}

.modal-title {
    width: 100%;
    display: flex;
    align-content: space-between;
    border: solid black 3px;
}