.App {
  text-align: center;
}

.fork_logo {
  height: 150px;
}

.App-header {
  background-color: rgb(77, 76, 76);
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
